body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: #c9dbed;
  color: #363636;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

header {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 30px;
}

nav {
  background: #1e293b;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px;
}

nav a {
  color: rgb(224, 162, 162);
  text-decoration: none;
}

nav a:hover {
  color: #54c2f1;
}

.project-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background: rgb(130, 201, 240);
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

input,
textarea {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #1d4ed8;
}

footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #38bdf8;
}
