/* General Styling */
body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: #c9dbed;
  color: #363636;
}

/* Container */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

/* Header */
header {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 30px;
}

/* Navigation */
nav {
  background: #1e293b;
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav a {
  color: rgb(224, 162, 162);
  text-decoration: none;
}

/* Projects */
.project-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background: rgb(130, 201, 240);
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  text-align: center;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  margin: auto;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Error Messages */
.error {
  color: red;
  font-size: 12px;
}

/* Buttons */
button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

/* Hobby Section */
.hobby-input {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.delete-btn {
  margin-left: 8px;
  background: #ef4444;
}

.delete-btn:hover {
  background: #dc2626;
}

/* Footer */
footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}
