body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #c9dbed;
  color: #363636;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}


header {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 30px;
}

nav {
  background: #1e293b;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px;
}

nav a {
  color: rgb(224, 162, 162);
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #54c2f1;
}


section h2 {
  text-align: center;
  margin-bottom: 20px;
}


.project-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background: rgb(130, 201, 240);
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-card a {
  text-decoration: none;
  color: #2563eb;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

input,
textarea {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #1d4ed8;
}


footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #38bdf8;
  text-decoration: none;
}


@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .project-grid {
    flex-direction: column;
    align-items: center;
  }
}
